<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL55Dialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <!--    <property name="hibernate.connection.url">jdbc:mysql://gestionappel-db-db00005691.mdb0002418.db.skysql.net:5009/DB_projet?enabledTLSProtocols=TLSv1,TLSv1.1,TLSv1.2,TLSv1.3</property>-->
    <!--    <property name="hibernate.connection.username">DB00005691</property>-->
    <!--    <property name="hibernate.connection.password">Oy4qRl~ZYipR3G9pI8HmOpBh</property>-->
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_21912808</property>
    <property name="hibernate.connection.username">21912808</property>
    <property name="hibernate.connection.password">U01W44</property>

    <!-- Parseur HQL -->
    <property name="hibernate.query.factory_class">org.hibernate.hql.internal.classic.ClassicQueryTranslatorFactory</property>
    <property name="hibernate.show_sql">true</property>

    <!-- Gestion des sessions par Hibernate lui-même -->
    <property name="hibernate.current_session_context_class">thread</property> <!-- Pour getCurrentSession() -->
    <property name="hibernate.hbm2ddl.auto">create</property> <!-- create, validate, update, none -->
  </session-factory>
</hibernate-configuration>
