<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <!--  servlet mappings  -->
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlHome</servlet-name>
        <url-pattern>/homeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeAlert</servlet-name>
        <url-pattern>/listAlert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeCours</servlet-name>
        <url-pattern>/listeCours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeSeanceCours</servlet-name>
        <url-pattern>/listeSeanceCours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecapFichePres</servlet-name>
        <url-pattern>/recapFichePres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatEtudiants</servlet-name>
        <url-pattern>/statEtudiants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeEtudiant</servlet-name>
        <url-pattern>/listeEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index_msg</servlet-name>
        <url-pattern>/index_msg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FicheAppel</servlet-name>
        <url-pattern>/ficheAppel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FicheAppelController</servlet-name>
        <url-pattern>/ficheAppelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlLogin</servlet-name>
        <url-pattern>/ctrlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlJustificatif</servlet-name>
        <url-pattern>/ctrlJustificatif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepotJustif</servlet-name>
        <url-pattern>/depotJustif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlCours</servlet-name>
        <url-pattern>/ctrlCours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlUpload</servlet-name>
        <url-pattern>/ctrlupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlConfirmation</servlet-name>
        <url-pattern>/ctrlConfirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlPdf</servlet-name>
        <url-pattern>/pdfController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlValiderJ</servlet-name>
        <url-pattern>/ctrlValiderJ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValiderJustifica</servlet-name>
        <url-pattern>/validerJustifica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeAbsences</servlet-name>
        <url-pattern>/listeAbsences</url-pattern>
    </servlet-mapping>




    <!--  servlets jsp  -->
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/jsp/Home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>DepotJustif</servlet-name>
        <jsp-file>/jsp/DepotJustif.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ListeAlert</servlet-name>
        <jsp-file>/jsp/ListeAlert.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>ListeCours</servlet-name>
        <jsp-file>/jsp/ListeCours.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ListeSeanceCours</servlet-name>
        <jsp-file>/jsp/ListeSeanceCours.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RecapFichePres</servlet-name>
        <jsp-file>/jsp/RecapFichePres.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StatEtudiants</servlet-name>
        <jsp-file>/jsp/StatEtudiants.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/jsp/Index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ListeEtudiant</servlet-name>
        <jsp-file>/jsp/ListeEtudiant.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Index_msg</servlet-name>
        <jsp-file>/jsp/Index_msg.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FicheAppel</servlet-name>
        <jsp-file>/jsp/FicheAppel.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Result</servlet-name>
        <jsp-file>/jsp/Result.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ValiderJustifica</servlet-name>
        <jsp-file>/jsp/ValiderJustifica.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ListeAbsences</servlet-name>
        <jsp-file>/jsp/ListeAbsences.jsp</jsp-file>
    </servlet>



    <!--  servlets java  -->

    <servlet>
        <servlet-name>CtrlUpload</servlet-name>
        <servlet-class>ctrl.CtrlUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlConfirmation</servlet-name>
        <servlet-class>ctrl.CtrlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlHome</servlet-name>
        <servlet-class>ctrl.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlLogin</servlet-name>
        <servlet-class>ctrl.UtilisateurController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FicheAppelController</servlet-name>
        <servlet-class>ctrl.FicheAppelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlJustificatif</servlet-name>
        <servlet-class>ctrl.CtrlJustificatif</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlCours</servlet-name>
        <servlet-class>ctrl.CoursController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlPdf</servlet-name>
        <servlet-class>ctrl.PdfController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlValiderJ</servlet-name>
        <servlet-class>ctrl.CtrlValiderJ</servlet-class>
    </servlet>



    <!-- default page -->
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
