<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Archetype Created Web Application</display-name>
    <!--  servlet mappings  -->
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepotJustif</servlet-name>
        <url-pattern>/depotJustif</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeAlert</servlet-name>
        <url-pattern>/listAlert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeCours</servlet-name>
        <url-pattern>/listeCours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeEtudiants</servlet-name>
        <url-pattern>/listeEtudiants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecapFichePres</servlet-name>
        <url-pattern>/recapFichePres</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatEtudiants</servlet-name>
        <url-pattern>/statEtudiants</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MonProfil</servlet-name>
        <url-pattern>/monProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeEtudiant</servlet-name>
        <url-pattern>/listeEtudiant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Index_msg</servlet-name>
        <url-pattern>/index_msg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlConfirmation</servlet-name>
        <url-pattern>/ctrlConfirmation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FicheAppel</servlet-name>
        <url-pattern>/ficheAppel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FicheAppelController</servlet-name>
        <url-pattern>/ficheAppelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FicheAppel</servlet-name>
        <url-pattern>/ficheAppel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlLogin</servlet-name>
        <url-pattern>/ctrlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>


    <!--  servlets jsp  -->
    <servlet>
        <servlet-name>Home</servlet-name>
        <jsp-file>/jsp/Home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>DepotJustif</servlet-name>
        <jsp-file>/jsp/DepotJustif.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ListeAlert</servlet-name>
        <jsp-file>/jsp/ListeAlert.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ListeCours</servlet-name>
        <jsp-file>/jsp/ListeCours.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ListeEtudiants</servlet-name>
        <jsp-file>/jsp/ListeEtudiants.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RecapFichePres</servlet-name>
        <jsp-file>/jsp/RecapFichePres.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>StatEtudiants</servlet-name>
        <jsp-file>/jsp/StatEtudiants.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Index</servlet-name>
        <jsp-file>/jsp/Index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>MonProfil</servlet-name>
        <jsp-file>/jsp/MonProfil.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ListeEtudiant</servlet-name>
        <jsp-file>/jsp/ListeEtudiant.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Index_msg</servlet-name>
        <jsp-file>/jsp/Index_msg.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>FicheAppel</servlet-name>
        <jsp-file>/jsp/FicheAppel.jsp</jsp-file>
    </servlet>


    <!--  servlets java  -->
    <servlet>
        <servlet-name>CtrlLogin</servlet-name>
        <servlet-class>ctrl.MemberController</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FicheAppelController</servlet-name>
        <servlet-class>ctrl.FicheAppelController</servlet-class>
    </servlet>


    <!-- default page -->
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
</web-app>
